/* Background Logo */
/* .background-logo {
	position: absolute; 
	top: calc(50% - 1ex);
	left: calc(50% - 1.2ch);
	font-size: clamp(7em, 15vw, 15em);


	background: var(--logo-grad);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.background-logo span {
	font-size: 40%;
}
*/



/* Resets and defaults */

:root {
	--brand-color: rgb(64, 134, 255);
	--main-bg-grad: linear-gradient(90deg, black, var(--brand-color), black);
	--logo-grad-chrome: linear-gradient(90deg,  rgb(114, 114, 114), white, rgb(114, 114, 114));
	--logo-grad-blue: linear-gradient(90deg,  rgb(114, 114, 114), white, rgb(114, 114, 114));
	--brand-font: "Orbitron", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-link {
	color: inherit;
	text-decoration: none;
}

a {
	color: var(--brand-color);
}

h1, p {
	margin: 0;
}

p {
	max-width: 70ch;
}

h1, h2, h3 {
	line-height: 1;
}

/* Utility classes */
.d-block {
	display: block;
}


/* Flex utils */
.d-flex,
.centering-container {
	display: flex;
}

.flex-grow {
	flex-grow: 1;
}

.flex-col {
	flex-direction: column;
}

.justify-content-center, 
.center-xy {
	justify-content: center;
}


.align-items-center,
.center-xy {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}

.gap-small {
	gap: 1em;
}

.gap-med {
	gap: 2.5em;
}

.gap-large {
	gap: 5em;
}

/* Text */

.text-center {
	text-align: center;
}


.text-right {
	text-align: right;
}


/* Widths */

.max-width-100 {
	max-width: 100%;
}


html {
	font-size: 20px;
}


body {
	margin: 0;
	line-height: 1.6;
	font-family: 'Courier New', Courier, monospace;
	font-size: .7rem;
	background: var(--main-bg-grad);
	color: white;
}

.container {
	padding: 2em 1em;
	width: clamp(0em, 70em, 100%);
}

.centering-container {
	justify-content: space-around;
}

/****** Text styls ******/
.logo {
	font-family: var(--brand-font);
}

.blue-text-gradient {
	background: var(--logo-grad-blue);
}

.chrome-text-gradient {
	background: var(--logo-grad-chrome);
}

/* This needs to come after the gradient types */
.text-gradient {
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.logo span {
	font-size: 40%;
}


/****** Design Elements *****/



/* Cards */
.card-header {
	font-size: 1.5em;
}

.card, .epic-card {
	border-radius: .8em;
	color: black;
	border: 1px solid var(--brand-color);
	padding: 2em 2em;
	background-color: white;
}

.card .card-content-group:not(.card-content-group:last-of-type) {
	margin-bottom: 3em;
}

.epic-card {
	background-color: rgba(0, 0, 0, 0.76);
	color: white;
}




.welcome-header {
	font-size: clamp(.8em, 3vw, 1.5em);
	font-family: var(--brand-font);
}


.welcome-header .logo {
	font-size: 2em;
}


.welcome-header * {
	margin-bottom: 1em;
}

form {
	flex-direction: column;
}

.form-input {
	min-width: 100%;
}



@media screen and (min-width: 35em)
{
	body {
		font-size: 1rem;
	}

	form {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.form-input {
		min-width: 40%;
		/* width: 40%; */
	}

	.card-content-group {
		text-align: left;
	}

	.card-content-group:nth-child(even) {
		text-align: right;
		align-items: flex-end;
	}
}